body {
    background-color: #000000;
}

#pageheading {
    color: #ffffff;
    font-size: 2.5vw;
    text-align: center;
}

#pagesubheading {
    color: #ffffff;
    font-size: 2.5vw;
    text-align: center;
}

.menuitems {
    color: #ffffff;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.menuitems:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s left 0.3s ease 0s;
    width: 0;
}

.menuitems:hover:after {
    width: 100%;
    left: 0;
}
