* {
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    align-items: center;
}

body {
    background-color: #000000;
}

#pageheading {
    font-size: 2.5vw;
}

#htmltable {
    border-color: #ffffff;
    border: solid;
}